
// Header
.hide{display: none;}
header#header {top: 0;position: sticky;z-index: 999;background: #fff;}
.width-50 {top: 0;position: sticky;z-index: 99;}

.menu-btn{display: none;}
.close-menu{display: none;}
//.clear{display: none;}
@include breakpoint(max,767px){
    .nav {overflow: auto;position: fixed;top: 0;right: 0;width: 100%;bottom: 0;background: #ffffff;z-index: 91;padding: 30px;padding-top: 55px;transform: translateX(100%);
        &.active{transform: translateX(0);transition: ease .5s all;}
    ul li {margin-left: 2.9rem;transition: ease 1s all;display: block;margin-bottom: 5rem;font-size: 4.5rem;}
    }
    .close-menu, .menu-btn {position: absolute;right: 2rem;top: 2rem;background: none;border: none;padding: 0;width: 25px;height: 25px;display: block;}
    .menu-btn span {width: 100%;height: 4px;background: $primary-color;margin: 4px 0;display: block;border-radius: 2px;}
    .close-menu span {width: 100%;height: 4px;background: $primary-color;margin: 2px 0;display: block;border-radius: 2px;transition: 3s ease all;}
    .close-menu span:first-child {transform: rotate(45deg);margin: -6px 0;transition: 4s ease all;}
    .close-menu span:last-child {transform: rotate(-45deg);transition: 4s ease all}
    .clear{display: block;}
}

.header.active .backgroud{height:5px;overflow: hidden;}
.header{
    .navbar .left_nav .navbar_list .navDropdown li{margin: 0;}
    .navDropdown{position: absolute;background-color: #fff;z-index: 9;padding: 2.5rem;box-shadow: 0 0 3px 1px rgba(0,0,0,.1);width: max-content;left: 0;display: none;
        @include breakpoint(max,767px){box-shadow:none;overflow-y: scroll;height: 300px;width: 100%;}
       a li{margin: 0;border-top: 1px solid #909090;list-style: none;position: relative;padding: 1rem;display: block;}
       a:first-child li{border-top: none};
    
    
    }
    .more_dropdown:hover .navDropdown{display: block;}
}

.header.active .navbar{padding: 1.5rem 0;transition: 0.5s ease all;}
.navbar{display: flex;justify-content: space-between;align-items: center;padding: 2.7rem 0 3.2rem;transition: 0.5s ease all;
    @include breakpoint(max,767px){padding: 2rem 0 2.2rem;}
    &.hf-container{max-width: 175rem;width: 96%;margin: 0 auto;}
    .left_nav{display: flex;align-items: center;width: 130.3rem;justify-content: space-between;
        @include breakpoint(max,767px){margin-right: 10rem;float: right;    width: 70%;}
        @include breakpoint(max,500px){margin-right: 7rem;float: right;    width: 80%;}
    .navbar_list{display: flex;justify-content: space-between;align-items: center;padding-left: 0;         
       @include breakpoint(max,767px){display: block;}
        li{margin-inline: 3.6rem ;list-style: none;font-size: 2rem;font-family: 'Space Grotesk';vertical-align: middle;font-weight: 500;cursor: pointer;position: relative;
            &.active{color: $primary-color; font-weight: 700;}
            a{
            &:hover{color: $primary-color;}}
        @include breakpoint(max,1279px){margin-inline: 2.6rem; }
        @include breakpoint(max,1023px){margin-inline: 2rem;}
        @include breakpoint(max,767px){margin-inline: 3rem;font-size: 4rem;border-bottom: 1px solid;padding-bottom: 1rem;}
       
        }
        li:first-child{margin-left: 0;
            @include breakpoint(max,767px){margin-inline: 3.6rem ;}
        }
        // .more_dropdown{margin-right: 0;position: relative;
        //     ul.navDropdown {position: absolute;left: 0;right: 0;background: #fff;width: max-content;z-index: 9;}
        // }
        .more_dropdown:hover + .navDropdown{display: block !important;}

    }

    .login-box{position: relative;display: inline-block;vertical-align: middle;padding: 11px 0;margin: -6px 0;cursor: pointer;z-index: 9;
        .user-img{width: 27px;height: 27px;border-radius: 100%;display: inline-block;vertical-align: middle;
            svg{width: 100%;font-size: 26px;color: #7e1843;}
        }
        .use-name{display: inline-block;vertical-align: middle;margin-left: 5px;font-size: 2rem;font-weight: 500;
            @include breakpoint(max,770px){display: none;}
        }
        .profile-dropdown{position: absolute;width: 175px;right: 0;background: #ad264a;padding: 1.5rem 0;border-radius: 5px;box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.3);margin-top: 1.5rem;display: none;
            &:before{content: "";position: absolute;border-style: solid;border-width: 8px;border-bottom-width: 10px;border-color: transparent;border-bottom-color: #ad264a;top: -18px;right: 42px;
                @include breakpoint(max,770px){right: 6px}
            }
            a{display: block;font-size: 2rem;border-top: solid 1px rgba(255,255,255,.3);padding: 1.5rem 2rem;font-weight: 500;color: #fff;
                i{margin-right: 10px;display: inline-block;vertical-align: middle;font-size: 20px;}
                &:first-child{border-top: 0;}
            }
           
       
        }
        &:hover .profile-dropdown{display: block;}
    }
    

    .btn01 button{color: #760B28;border: 1px solid #760B28;background: transparent;padding: 1.6rem 2.9rem;border-radius: 3.3rem; 
        @include breakpoint(max ,500px){padding: 1.5rem;}
    &:hover{color: #fff; border-color: #fff;background-color: $primary-color;} }

   .profile-icon{display: flex;justify-content: space-between;grid-gap: 2rem;    align-items: baseline;

        .profile{font-size: 2.5rem;vertical-align: middle;display: inline-block;cursor: pointer;padding-right: 3.2rem;    color: #760b28;
            border: 1px solid #760b28;
            &:hover{color: #fff;border-color: #fff;background-color: #760b28;}
        @include breakpoint(max, 500px){padding: 2rem;} }
		.cart-bx{position: relative;}
		.cart-length{position: absolute;margin: 0 !important;top: -10px;font-size: 2rem;width: 20px;height: 20px;background: #f7dd56;color: #000;border-radius: 100%;text-align: center;line-height: 20px;font-size: 1.4rem;
			@include breakpoint(max,700px){font-size: 2rem;}		}
    span:last-child{margin:0 3.5rem;font-weight: 500;
    	@include breakpoint(max,970px){margin-left: 2.5rem;margin-right: 1.4rem}
			@include breakpoint(max,700px){margin-left: 4rem;margin-right: 0;}
		}
   }
    span i{font-size: 3rem;vertical-align: middle;
        @include breakpoint(max,767px){font-size: 5rem;}  
        }

    }
    .logo_img {width: 20%;    width: 46.25rem;
        @include breakpoint(max,767px){width: 5%;display: inline-block;}
        @include breakpoint(max,500px){width: 9%;}
        img{width: 100%;height: auto;
            @include breakpoint(max,767px){display: none;}}
        .mobile-logo{display: none;
            @include breakpoint(max,767px){display: block;}}
            a{display: block;
                width: 76%;}
        }
        .clear{display: none;}

        .more_dropdown i {font-size: 4rem;vertical-align: middle;position: absolute;// right: 0;top: 0;bottom: 0;width: 7rem;transform: rotate(0deg);transform-origin: 0 0;white-space: nowrap;transition: 1s ease all;
        }
        .more_dropdown:hover .tab-head-box svg{
            transform: rotate(180deg); transition: .5s ease all;
        }
}

.width-50 {.backgroud{ @include breakpoint(max,767px){display: inline-block;width:100%;margin-right: -2px;}}}
// Program Bar
.backgroud{background: linear-gradient(106deg,#760b28,#811c4b); 
    // @include breakpoint(max,500px){display: inline-block;width: 50%;}
    .hf-container{@include breakpoint(max,768px){width: 100%;}
    .program_bar{display:flex;justify-content: space-between;align-items: center;
        @include breakpoint(max,767px){position: relative;}
        // @include breakpoint(max,500px){display: grid;
        //     grid-template-columns: 135px calc(100% - 70px);}
        // @include breakpoint(max,970px){display: grid;grid-template-columns: 110px auto;
        //     .program-scroll{
        //         .programs{width: max-content;}
        //     }
        // }
   
        .nav-title{font-size: 2rem;color: #fff;padding: 1.6rem 4.1rem;vertical-align: middle;font-weight: 500;width: max-content;
            @include breakpoint(max,1850px){padding: 1.6rem 3.6rem;}
            // @include breakpoint(max,1033px){padding: 1.7rem 3.6rem;}
            @include breakpoint(max, 970px){padding: 1.6rem 1.6rem;}
            @include breakpoint(max, 767px){display: block;color: #000;width: 100%;
            &:hover{color: #fff;}}
            @include breakpoint(max, 500px){font-size: 3rem;}
        }
    }
        
        .programs{
            .slick-slider{padding: 0 3.5rem 0 1.5rem;}
            .slick-prev, .slick-next{display: block;width: 25px;height: 25px;color: transparent;font-size: 0;background: none;text-align: center;border: none;position: absolute;top: 50%;transform: translateY(-50%);
                &:before{content: "";width: 10px;height: 10px;border-top: solid 2px #fff;border-left: solid 2px #fff;display: inline-block;}
            }
            .slick-prev{left: 0;
                &:before{transform: rotate(-45deg);}
            }
            .slick-next{right: 0;
                &:before{transform: rotate(135deg);}
            }
            .slick-disabled{display: none;}
            //display: flex;justify-content: space-between;cursor: pointer;
            // @include breakpoint(max,1279px){grid-gap: 2rem;}
            // @include breakpoint(max,1023px){grid-gap: 0rem;}
            .nav-title{
        &:hover{background-color: #760B28;color: #fff;}
        &.active{background-color: #760B28;color: #fff;}
        }
        .more_dropdown{position: relative;display: inline-block;padding: 1.2rem 1.9rem;cursor: pointer;
            span{
                i{font-size: 3rem;vertical-align: sub;}
            }
            .navDropdown{                
                    li{
                        a{&:hover{color: $primary-color;}}
                    }            
            }
            // .navDropdown{position: absolute;background-color: #fff;z-index: 9;width: 
            //     // li{margin: 0;padding: 0.5rem;border-top: 1px;}
            // }
            &:hover{svg{
                transform: rotate(180deg); transition: .5s ease all;
            }

            }
            }
        }    
        .nav-title1{font-size: 2rem;color: #fff;padding: 1.7rem 4.4rem;vertical-align: middle;font-weight: 500;width: max-content;pointer-events: none;
            @include breakpoint(max,767px){padding: 1.7rem 2.4rem;pointer-events: initial;width: 100%;text-align: center; } 
            @include breakpoint(max,500px){padding: 2rem 0.4rem;font-size: 3.4rem;} 
            span{vertical-align: sub;margin-left: 3.5rem;
                @include breakpoint(max,767px){margin-left: 1.5rem;}
                svg{transition: .5s ease all;}
                } }
        .program-scroll { width: 76.2%;
            @include breakpoint(max,767px){position: absolute;background: #fff;top: 100%;width: 100%;display: none;z-index: 9;
                &.active{display: block;}
            }
            .programs{    
                @include breakpoint(max,767px){background: #e9e9e9;}
            }
    }
    }
    .program_bar > .nav-title{padding:0;}
} .nav-title1 span{vertical-align: sub;margin-left: 3.8rem;
    @include breakpoint(max,767px){margin-left: 1.5rem;}}
    @include breakpoint(max,767px){
    .nav-title1.active span svg{transform: rotate(90deg);transition: .5s ease all;}}

// US CPA Bar
.light-backgroud{background: #F8E4E9; 
    .hf-container{ @include breakpoint (max,767px){width: 100%;}}
    @include breakpoint(max,767px){display: inline-block;width:100%;position: relative;margin-right: -2px;}
    .uscpa-program{display: flex; justify-content:flex-start;align-items: center;
        @include breakpoint(max,970px){
            // display: grid;grid-template-columns: 110px auto;
            .program-scroll{overflow: auto;width: 76.6%; .programs{width: max-content;}                
                @include breakpoint(max,767px){position: absolute;width: auto;left: 0;right: 0;background: #fff; display: none;
                    &.active{display: block;}}
                .programs{display: flex;justify-content: space-between;grid-gap: 0rem;cursor: pointer;align-items: center;
                    @include breakpoint (max,767px){display: block;width: 100%;background: #e9e9e9;}
                   
                }
            }}
        @include breakpoint(max,767px){display: block;}        
            .nav-title1{font-size: 2rem;padding: 1.7rem 1.3rem;vertical-align: middle;font-weight: 500;width: max-content;padding-left: 4rem;
            @include breakpoint(max,767px){padding: 1.7rem 2.4rem;text-align: center;width: 100%;}
            @include breakpoint(max ,500px){padding: 2rem 0.4rem;font-size: 3.4rem;}}
        .nav-title{font-size: 2rem;padding: 1.7rem 1rem;vertical-align: middle;font-weight: 500;width: max-content;    
                &:hover{background: #2C2C2C;color: #FFFFFF;}  
                &.active{background: #2C2C2C;color: #FFFFFF;}             
        @include breakpoint(max , 767px){display: block;width: 100%;font-size: 2.4rem;padding: 1.7rem 1rem;}    
        @include breakpoint(max , 500px){font-size: 3rem;}    
            span{vertical-align: inherit;margin-left: 3.5rem;
                @include breakpoint(max,767px){margin-left: 1.5rem;}}
        }
        
        
    }
    // .uscpa-program > .nav-title{padding: 0;}
}




/* Footer */
.footer{background-color: #E9E9E9;
    .hf-container{max-width: 175rem;width: 96%;margin: 0 auto;&.footer_row{padding: 8rem 0 5rem;  
    @include breakpoint(max,767px){padding: 5rem 2rem;}}
    .Footer_box1{display: flex; justify-content: space-between;align-items: center;
        @include breakpoint(max,500px){justify-content: space-evenly;}
        .logo_img {width: 22%;
            @include breakpoint(max,767px){width: 40%;}} 
        .social_media{
        @include breakpoint(max,500px){margin-right: 3rem;}
        i{font-size: 3rem;color: #2C2C2C;margin-left: 3.6rem; @include breakpoint(max,767px){font-size: 4rem;}  @include breakpoint(max,500px){margin-left: 1.6rem;}}}}
        @include breakpoint(max,767px){width: 100%;}
        }
    .footer_grid{display: grid;grid-template-columns: 23% 26% 16% 15% 20%;
            .footer_box {padding: 4.5rem 2.5rem;border-left: 1px solid #909090;display: flex;/*justify-content: space-between;*/flex-direction: column;
            &:first-child{border-left: none;padding-left: 0;  
            @include breakpoint(max,767px){height: auto;border-top: none;width: 100%;grid-column: 1/6;text-align: center;
    padding-inline: 5.5rem;}        
        } 
            &:nth-child(2){
            @include breakpoint(max,767px){ grid-column: 1/3;grid-row: 2/3;}}
            &:nth-child(3){
            @include breakpoint(max,767px){ grid-column: 3/6;grid-row: 2/3;border-right: 1px solid #909090;}}
            &:nth-child(4){
            @include breakpoint(max,767px){grid-column: 1/3;grid-row: 3/4;}}
            &:nth-child(5){
            @include breakpoint(max,767px){grid-column: 3/6;grid-row: 3/4;border-right: 1px solid #909090;}}
            .footer_para{font-family: 'Space Grotesk';color: #000;}
            .footer_title{font-size: 2rem;color: #760B28;margin-bottom: 2.8rem;font-weight: 500;
            @include breakpoint(max,500px){font-size: 2.5rem;}
            a{color: #760B28;}}
            .title01{font-size: 2rem;margin-bottom: 1.8rem;font-weight: 400;line-height: 2.8rem;color: #000;list-style-type: none;
                @include breakpoint(max,500px){font-size: 2.5rem;}}
            @include breakpoint(max,767px){border-top: 1px solid #909090;vertical-align: top;padding: 3rem 1rem 3rem 3rem;}

            ul{padding-left: 0;
            li{list-style:none;}}
        }
       
    }
    // TUSHAR

   
    .copyright{font-size: 1.6rem;text-align: center;color: #5C5C5C;padding-block:2.4rem ;font-weight: 400;}
    .footer .footer_grid .footer_box:nth-child(2){border-left: none;}
}




.jobheader{border-bottom: 1px solid #760B28;
    .hf-container{
        .left_nav{
            @include breakpoint(max,970px){width:100.3rem;}
            @include breakpoint(max,850px){width:115rem;}
            @include breakpoint(max,767px){width: 38rem;}
            @include breakpoint(max,510px){width: 42rem;}
            // @include breakpoint(max,490px){width: 53%;}
            // @include breakpoint(max,412px){width: 61%;}
            @include breakpoint(max,360px){width:38rem;}
            .btn01{
                .btn{    padding: 1.6rem 4.7rem;
                @include breakpoint(max,970px){padding: 1.6rem 1.7rem;}
                @include breakpoint(max,769px){padding: 1.6rem 0.7rem;}
                @include breakpoint(max,500px){padding: 1.6rem 1.7rem;}
                @include breakpoint(max,360px){padding: 1.6rem 1rem;}

                }
            }
            .employee-dropdown{position: relative;
                // @include breakpoint(max,970px){display: none;}
                &::before{content: "";position:absolute;height: 50px;width: 1px;background-color: #000000;left: -20px;top:3px;
                @include breakpoint(max,1800px){left: -9px;}
                @include breakpoint(max,1700px){left: -16px;top:0;}
                @include breakpoint(max,1600px){left: -12px;   height: 37px;}
                @include breakpoint(max,1300px){height: 29px;left: -20px;}
                    @include breakpoint(max,970px){    left: -5px;top: 2px;height: 27px;}
                    @include breakpoint(max,768px){left: -10px;top: 2px;height: 27px;}

                }
                .more_dropdown{ color: #000;font-weight: 500;}
            }
            .profile-icon{    
                span{margin-left: 0rem;margin-right: 0rem;}
            }
        }
    }
}

.job_advertisment{
    background: #272727;padding-right:11.7rem;
    @include breakpoint(max,1800px){padding-right: 8.7rem;}
    @include breakpoint(max,1700px){padding-right:5rem;}
    @include breakpoint(max,1500px){padding-right:15rem;}
    @include breakpoint(max,1400px){padding-right:13rem;}
    // @include breakpoint(max,1300px){padding-right:33rem;}
    @include breakpoint(max,1279px){padding-right:11rem;}
    @include breakpoint(max,970px){padding-right:0rem;}


    .job_backgroud{display: flex;align-items:center;justify-content: space-between;
				@include breakpoint(max,970px){display: block;width: 100%;}

        .job_offleft_box{background: #AB173F;    display: flex;align-items: center;     padding: 2rem 2.8rem 2rem 4rem;border-top-right-radius: 66px;border-bottom-right-radius: 66px;
				@include breakpoint(max,970px){border-top-right-radius: 0;justify-content: center;border-bottom-right-radius: 0;justify-content: center;}

            .job_offbox1{color: #FFFFFF;font-size: 2.8rem;line-height: 2.9rem;text-align: center;
            }
            .offer_box2{font-size: 2rem;line-height: 2rem;color: #FFFFFF;background: 
                #272727;padding: 1.2rem 1.8rem;margin-left: 2.1rem;border-radius: 30px;}
        }
        .job_offright_box{
            .jobinner_right_box{display: flex;align-items:center;
                @include breakpoint(max,970px){padding:2rem 3rem;justify-content: center;}
                @include breakpoint(max,768px){display: grid;grid-template-columns: 7% 50% 1fr;}
                @include breakpoint(max,500px){display: grid;grid-template-columns: 7% 52% 1fr;padding:2rem 1rem;}
                .track_img{width: 3rem;    margin-right: 2rem;}
                .jobfast-track{font-size: 2.8rem;line-height: 3.5rem;color:#FFFFFF;
                    @include breakpoint(max,1900px){font-size: 2.5rem;line-height: 3rem;}
                    @include breakpoint(max,970px){font-size: 2rem;line-height: 2.7rem;}
                    
                }
                    .avail-btn{padding: 1.6rem 3.2rem;color:#272727;background-color: #fff;border-radius: 3.3rem;display: inline-block;margin-left: 3.8rem;vertical-align: middle;text-align: center;
                    @include breakpoint(max,1800px){margin-left: 2rem; font-size: 2.5rem;line-height: 3rem;}
                        @include breakpoint(max,970px){margin-left: 2rem;padding: 1.6rem 2rem;padding: 1.6rem 3rem;}

                    h3{    font-size: 2rem;
                        font-family: "Space Grotesk";
                        font-weight: 500;}
                    }
            }
        }
    }
}

.jobfooter{
    .jpfooter_grid{display: grid;grid-template-columns:25% 25% 30% 20%;
            .footer_box{
            &:nth-child(3){
                @include breakpoint(max,768px){border-bottom: 1px solid #909090;}
                
            }
        }
    }
    .ft-bottom-row{border-top: 1px solid #909090;border-bottom: 1px solid #909090;}
}

.blog-navbar{
    .nav-title{display: inline-block;}
}

