$primary-color: #760B28;
$secondary-color: #2C2C2C;
$black-color: #000;
$gradient:linear-gradient(90deg, rgb(118, 11, 40) 0%, rgb(136, 35, 111) 100%);
$fade-color:#F5E7E7;
$lavender-color:#852060;
$gradient-light:linear-gradient(90deg, rgba(254, 206, 206, 0.5) 0%, rgba(255, 241, 241, 0.5) 100%);
$reverse-gradient:linear-gradient(90deg, rgb(136, 35, 111) 0%, rgb(118, 11, 40) 100%);
